<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Owner Name:</label>

  <br>

  <input type="text" name="owner[name]">

  <h3>Select from existing Pets</h3>
  <% @pets.each do |pet| %>
    <input type="checkbox" name="owner[pet_ids][]" id="<%= pet.id %>" value="<%= pet.id %>"><%= pet.name %><br>
  <% end %>
  <br>

  and/or, create a new pet:
  <br/>
  <label>name:</label>
  <input type="text" id="pet_name" name="pet[name]">

  <input id="Create Owner" type="submit" value="Create Owner">
</form>
