<h1>Create a new Pet</h1>

<form action="/pets" method="post">

<h3>Make a new pet:</h3>
<label>Pet name:</label>
<input type="text" id="pet_name" name="pet[name]">

<br/>
<label>Select</label>
<% @owners.each do |owner| %>
    <input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>"><%= owner.name %><br>
  <% end %>
<br/>

<label>or Create a new owner:</label>
<input type="text" id="owner_name" name="owner[name]"><br/>
<input type="submit" id="Create Pet" value="Create Pet" >
</form>
